<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <link th:href="@{/css/toplevel.css}" rel="stylesheet" type="text/css">
        <title th:text="#{messages.application.title}"/>
    </head>
    <body>
        <div class="margin">
            <div th:replace="header :: header"></div>

            <table>
                <tr><td>&nbsp;</td></tr>
                <tr><td><strong><label th:text="#{messages.home.heading}"/></strong></td></tr>

            </table>

            <hr/>

        </div>
    </body>
</html>